.skeleton {
  border-left: 5px solid #dae3eec2;
  padding-left: 16px;
}
.roleplay {
    border-left: 5px solid #156DE2;
    padding-left: 16px;
  }
.boardgame {
    border-left: 5px solid #F44242;
    padding-left: 16px;
  }
.book {
    border-left: 5px solid #7C432F;
    padding-left: 16px;
  }
.wargame {
    border-left: 5px solid #6B6B6B;
    padding-left: 16px;
  }
.author {
  font-style: italic;
}
.roleplayBtn {
  background-color:#156DE2;
  padding-top:4px;
  border-radius:5px;
}
.boardgameBtn {
  background-color:#F44242;
  padding-top:4px;
  border-radius:5px;
}
.bookBtn {
  background-color:#7C432F;
  padding-top:4px;
  border-radius:5px;
}
.wargameBtn {
  background-color:#6B6B6B;
  padding-top:4px;
  border-radius:5px;
}