<ion-header>
  <ion-toolbar color="primary">      
    <ion-title> {{ "my_profile" | translate }} </ion-title>    
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/tab2']">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content class="ion-padding">
  
  <span class="" style="text-align: center; display: block; margin-bottom: 10px;">
    {{ "user_profile_howto" | translate }}    
  </span>

  <form  (ngSubmit)="updateProfile()" [formGroup]="userProfile">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating"> {{ "email" | translate }} </ion-label>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"> {{ "invalid_email" | translate }} </ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating"> {{ "password" | translate }} </ion-label>
      <ion-input [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" placeholder="{{ 'type_new_password' | translate }}" ></ion-input>
      <ion-icon slot="end" (click)="this.changePasswordVisibility()" [name]="this.isPasswordVisible ? 'eye' : 'eye-off'"></ion-icon>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">{{ "min_length_passw" | translate }}</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating"> {{ "display_name" | translate }} </ion-label>
      <ion-input type="name" placeholder="{{ 'type_your_name' | translate }}" formControlName="name"></ion-input>
      <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors && name.value.length < 2">{{ "min_length_name" | translate }}</ion-note>
      <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors">{{ "no_spaces_name" | translate }}</ion-note>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!userProfile.valid"> {{ "update_user_profile" | translate }} </ion-button> 
    
  </form>

</ion-content>  
